/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("/VibesGYM/images/pesas.jpg");
    background-size: cover;
    background-position: center;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del formulario */
  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"],
  button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #3e8e41;
  }